extends ../layout/index.pug 

block append contentStyle
    style(type='text/css').
        .section {
        }
        .section_head {
            text-align: center;
        }
        .section_head .welcome_logo {
            width: 70%;
        }

        .section_body {
            text-align: center;
        }
        .section_body .setup_business {
            letter-spacing: 0px;
            color: #01A1E8;
        }

        .section_body .body_para {
        }
        .section_body .body_para .use_link a {
            font-weight: bold;
            letter-spacing: 0px;
            color: #FD9616;
            text-decoration: none;
        }
        .section_body .body_para .sign_up {
            font-weight: bold;
            letter-spacing: 0px;
            color: #10100F;
        }
        .section_body .browser-para {
            margin-top: 30px;
            text-align: center;
            letter-spacing: 0px;
            color: #10100F;
        }
        
        .section_body .link a {
            letter-spacing: 0px;
            color: #01A1E8;
        }

        .section_foot {
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap:15px
        }
        .section_foot .bordered {
            background: #01A1E800 0% 0% no-repeat padding-box;
            border: 3px dashed #01A1E8;
            border-radius: 8px;
            opacity: 1;
            padding: 5px;
            color: #01A1E8;
            overflow-wrap: anywhere;
            min-width: 200px;
            min-height:30px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .marginAdd{
            margin:15px
        }

block append section
    .section
        .section_head
            if coverImage
                img.welcome_logo(src=`${coverImage}` alt='logo')
            else
                img.welcome_logo(src=`${host}/images/welcome.png` alt='logo')
        .section_body
            h2.setup_business Let's Setup Business
            p.body_para
                span.use_link 
                    a(href=`${mainURL}`) Use this link 
                span.sign_up
                    | to carry
                    | on with
                    | your sign-up.
            p.browser-para Link not working? just paste the link below into your browser.
            .link
                a(href=`${mainURL}`) #{mainURL}
        .section_foot
            h2 Yours account details are
            span.bordered #{userName}
            span.bordered #{email}
            div
                div Your temporary password is
                div.marginAdd.bordered #{password}
