doctype html
head
  title #{title}
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
style.
  *{
    margin :0;
    padding:0;
  }
  html {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  #mainDiv{
    width:100%;
    height :100vh;
    display:flex;
  }
  #fstHalf img{
    width:80%;
    z-index:20;
  }
  #fstHalf{
    width:50%;
    position:relative;
    overflow:hidden;
  }
  #secondHalf{
    width:50%;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #fstHalfOne{
    background-color:#01a1e8;
    width:100%;
    height :100%;
    clip-path: polygon(0 0, 28% 0, 100% 100%, 0% 100%);
  }
  #fstHalfscnd{
    background-color:transperant ;
    width:100%;
    height :100%;
    position:absolute;
    top:0;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  #secondHalfFrom{
    width :60%;
    height:60%;
    height:370px;
    width:470px;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
  }
  .logo{
    width:170px
  }
  .instruction{
    color :gray;
    font-size:14px;
  }
  .forget{
    font-size:33px;
    font-weight:bold;
  }
  #password_confirm,#password{
    width:100%;
    height :40px;
    border:1px solid #ccc;
    border-radius:8px;
    margin-top:10px;
    padding-left :10px;
  }
  .btnField{
    margin-top:20px;
    height:40px;
    border:none;
    border-radius:8px;
    background-color:#01a1e8;
    color:white;
    font-size:16px;
    font-weight:700;
    width:calc(100% + 13px);
    padding-left :10px;

  }
  label{
    font-size:14px;
    font-weight:bold;
    color: rgb(52, 71, 103);
  }
  .myForm{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    height:55%
  }
  .inputBlock{
    position:relative;
  }
  .eyeDiv{
    position:absolute;
    right:0;
    top:42px;
  }
  .eyeDiv img{
    width:20px;
    height:20px;
  }
  @media screen and (max-width: 992px) {
    #mainDiv{
    flex-direction:column-reverse;
    }
    #fstHalf{
        height:40%;
        width:100%;
    }
    #secondHalf{
        height:60%;
        width:100%;
    }
    #secondHalfFrom{
        width:80%;
        height:80%;
        max-height:800px;
    }
    .forget{
     font-size:40px;
    }
    #fstHalfscnd img{
      width:40%;
      object-fit:contain;
    }
  }
  @media screen and (max-width: 768px) {
  .forget{
    font-size:30px;
  }
    #fstHalfscnd img{
      width:60%;
    }
  }
#mainDiv
  #fstHalf
    #fstHalfOne
    #fstHalfscnd
        img.lock(src=`${host}/images/lock.png` alt='logo')
  #secondHalf
    #secondHalfFrom
        img.logo(src=`${host}/images/logo.svg` alt='logo')
        div.forget Reset Password?
        div.instruction Tap into data to advance your business. Track your progress, keep track of sales, and use special offers to draw in new customers.
        form.passwordForm(role='form')
          div.form-group.inputBlock
            div.eyeDiv.eyeDivOne
              img.OneOpen(src=`${host}/images/eyeOpen.svg` alt='logo')
              img.OneClose(src=`${host}/images/eyeClose.svg` alt='logo')
            label(for='password') Password:
            input#password.form-control(type='password', name='password',placeholder="ABX123456")
          div.form-group.inputBlock
            div.eyeDiv.eyeDivTwo
              img.twoOpen(src=`${host}/images/eyeOpen.svg` alt='logo')
              img.twoClose(src=`${host}/images/eyeClose.svg` alt='logo')
            label(for='password_confirm') Confirm password:
            input#password_confirm.form-control(type='password', name='password_confirm',placeholder="ABX123456")
          button.btn.btn-primary.btnField(type="submit", name="asdf") Submit
  
    script(src='https://code.jquery.com/jquery-3.2.1.min.js' integrity='sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=' crossorigin='anonymous')
    script(src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.1/jquery.validate.min.js")
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js' integrity='sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa' crossorigin='anonymous')
    script.
      let jumper= true;
      let jumperSec= true;
       (_=>{
          document.querySelector('.OneOpen').style.display="none";
          document.querySelector('.twoOpen').style.display="none";
       })();
        document.querySelector('.eyeDivOne').addEventListener('click',_=>{
          if(jumper){
              document.querySelector('.OneOpen').style.display="inline";
              document.querySelector('.OneClose').style.display="none";
              document.querySelector('#password').type="text";
              jumper= false;
          }else{
              document.querySelector('.OneOpen').style.display="none";
              document.querySelector('.OneClose').style.display="inline";
              document.querySelector('#password').type="password";
              jumper= true;
          }
        });
         document.querySelector('.eyeDivTwo').addEventListener('click',_=>{
          if(jumperSec){
              document.querySelector('.twoOpen').style.display="inline";
              document.querySelector('.twoClose').style.display="none";
              document.querySelector('#password_confirm').type="text";
              jumperSec= false;
          }else{
              document.querySelector('.twoOpen').style.display="none";
              document.querySelector('.twoClose').style.display="inline";
              document.querySelector('#password_confirm').type="password";
              jumperSec= true;
          }
        });
        token="#{token}"
        url="#{host}"
        $('.passwordForm').validate({
            rules : {
                password : {
                    minlength : 5
                },
                password_confirm : {
                    minlength : 5,
                    equalTo : "#password"
                }
            }
        })
        $(".passwordForm").submit(function (event) {
            event.preventDefault();
            if($(this).valid()) {
                var formData = {
                    password: $("#password").val()
                };
                console.log('asdsdasd',formData);
                $.ajax({
                    type: "PUT",
                    url: `${url}/auth/resetPassword?token=${token}`,
                    data: formData,
                    dataType: "json",
                    encode: true,
                }).done(function (data) {
                    window.location.href=`${url}/auth/passwordChanged`
                }).catch((error)=> {
                    $('.alert-danger').append(error.responseJSON.message)
                    $('.alert-danger').css("visibility", "visible")
                })
            }
        });
        