.footer
    .footer_start
        h2.download_app_title Download the App now
        .download_section
            img.app_logo(src=`${host}/images/playStoreLogo.png` alt='logo')
            img.app_logo(src=`${host}/images/appleStore.png` alt='logo')
    .footer_body
        p 0845 528 0662
        p admin@geniie.uk
        p 2 St. Edmunds Road GATESHEAD NE8 4AX
        a(href=`${host}/web/unsubscribe?email=${to}`) Unsubscribe
    .footer_end
        .footer_links
            a(href=`${FACEBOOK}`)
                img(src=`${host}/images/facebook.png` alt='facebook')
            a(href=`${LINKED_IN}`)
                img(src=`${host}/images/linkedIn.png` alt='LinkedIn')
            a(href=`${TWITTER}`)
                img(src=`${host}/images/twitter.png` alt='twitter')
            a(href=`${INSTAGRAM}`)
                img(src=`${host}/images/instagram.png` alt='instagram')
